body {
    background-color: #f6fafd;
}

/* Initial navbar */

.menu {
    margin: 15px;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.menu-item {
    font-size: 1.25rem;
    font-weight: 600;
}

.menu-item:hover {
    opacity: 0.6;
}

/* End navbar */

/* Initial index.ejs */

.form-generate {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-generate h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgb(29, 28, 28);
}

.form-generate form {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.content {
    border-style: solid;
    border-color: #FEFEFE;
    border-width: 2px;
    border-radius: 15px;
    height: 2rem;
    font-size: 20px;
    text-align: center;
    outline: none;
}

.content:focus {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 60, 97);
}

.btn-generate {
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(26, 60, 97);
    border-radius: 15px;
    height: 2rem;
    transition: 1s;
    font-weight: 600;
    color: #FFFF;
    cursor: pointer;
}

.btn-generate:hover {
    scale: 1.02;
}

/* End index.ejs */

/* Initial code.ejs */

.qrcode-generated {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrcode-generated h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgb(29, 28, 28);
}

.qrcode-generated img {
    margin-top: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.qrcode-generated p {
    margin-top: 1%;
    font-size: 20px;
}

.qrcode-generated a {
    margin-top: 2%;
}

.qrcode-generated a:hover {
    opacity: 0.6;
}

.btn-download {
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(26, 60, 97);
    border-radius: 15px;
    height: 2rem;
    transition: 1s;
    font-weight: 600;
    color: #FFFF;
    cursor: pointer;
    width: 20rem;
}

.btn-download:hover {
    scale: 1.02;
}

/* End code.ejs */

/* Initial footer */

footer {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 1.3rem;
    text-align: center;
}

footer p a:hover {
    text-decoration: underline;
}

/* End footer */